apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: trillian
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: trillian
    app.kubernetes.io/part-of: trillian
  name: trillian
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: trillian
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: trillian
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/tdalton-tenant/trillian/trillian@sha256:12e3ed2432d355d2fb85fbf042d2edc22128db93bc7107404a5159b6d36dc652
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        - containerPort: 6379
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
